<html>
  <head>
    <title>Account Blocked Notification</title>
  </head>
  <body>
    <p>Hello, {{name}}!</p>
    <p>We regret to inform you that your account has been blocked for security
      measures.</p>
    <p>Please contact our support team to resolve this issue and regain access
      to your account.</p>
  </body>
</html>