<html>
  <head>
    <title>Welcome Message</title>
  </head>
  <body>
    <p>Welcome, {{name}}!</p>
    <p>Thank you for signing up. We are thrilled to have you as a new member on
      our platform.</p>
  </body>
</html>